body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; 
    color: #fff; 
}


header {
    background-color: #1a1a1a;
    padding: 20px;
}

header nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li a {
    color: #ff0000; 
    text-decoration: none;
    font-size: 18px;
}


.produto-detalhes {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    gap: 20px;
}

.imagem-produto {
    width: 50%;
}

.imagem-produto img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.detalhes-produto {
    width: 45%;
}

.detalhes-produto h1 {
    font-size: 30px;
    color: #ff0000; 
}

.detalhes-produto p {
    font-size: 18px;
    margin-bottom: 10px;
}

button {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #cc0000;
}


.produtos-relacionados {
    margin-top: 40px;
}

.produtos-relacionados h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.produtos-relacionados-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    background-color: #333;
    padding: 20px;
    width: 30%;
    border-radius: 8px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card h3 {
    color: #ff0000;
    margin: 10px 0;
}


footer {
    background-color: #1a1a1a;
    text-align: center;
    padding: 10px;
}
.btn {
    display: inline-block;
    margin-top: 10px;
    background-color: #ff0000; 
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #cc0000;
}
